<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Browsers -->
    <add key="Browser" value="BROWSER_NAME"/> 

    <!-- Application URL -->
    <add key="ApplicationSite" value="SITE_NAME_OR_IP" />
    <add key="ApplicationPort" value="PORT_NUMBER" />
    <add key="Tenant" value="TENANT" />

    <add key="HeadLess" value="HEAD_LESS" />

    <!-- Creadentials -->
    <add key="Username" value="TestH" />
    <add key="Password" value="1" />

    <!-- Regional settings -->
    <add key="RegionalSet" value="REGIONAL_SETTINGS" />

    <!-- Default WebDriver time out -->
    <add key="DefaultTimeOut" value="120" />
    <add key="HubUrl" value="http://localhost:4444/wd/hub" />
    <add key="DownloadPath" value="\\NextLab\Temp" />    

    <!-- Default WebDriver time out
	 0 - only test
	 1 - javascript error check
	 2 - write steps to instantly updated file
	 3 - 1+2 
                                   -->
    <add key="Debug" value="DEBUG_LEVEL" />

    <add key="ReportPath" value="c:\UITests\Reports"/>

    <add key="MultiUser" value="MULTI_USER" />
    <!--WARNING! To use MultiUser you should run DefinitionTests first-->

  </appSettings>
</configuration>
